<h1>Welcome user</h1>
<div class="container">
  <div class="jumbotron">
    <h1><center>Churn Prediction</center></h1>      
    <img src="images/graph.jpg"  height="150" width="300"/>
    	<p>‘Churn’ is a word derived from change and turn. It means
the discontinuation of a contract.Companies usually make a distinction between voluntary churn and involuntary churn. Voluntary churn occurs due to a decision by the customer to switch to another company or service provider, involuntary churn occurs due to circumstances such as a customer's relocation to a long-term care facility, death, or the relocation to a distant location. In most applications, involuntary reasons for churn are excluded from the analytical models. Analysts tend to concentrate on voluntary churn, because it typically occurs due to factors of the company-customer relationship which companies control, such as how billing interactions are handled or how after-sales help is provided.</p>
  </div>
  
  </div>